html, body {
    margin: 0;
    padding: 0;
    background-color: #292f33;
    color: #daf8e0;
    font-size: 14px;
    font-family: Nimbus Sans, Helvetica Neue, Arial;
    line-height: 1.5rem;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #4a9a5a;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
}

nav, .menu {
    z-index: 3;
}

nav .logo {
    height: 2rem;
}

@media screen and (max-width: 660px) {
    nav {
        flex-direction: column;
        display: none;
        top: calc(2rem + 21px);
        padding: 0;
    }

    nav a {
        display: inline-block;
        width: 100%;
        padding: 10px;
        border-top: 1px solid #daf8e0;
    }

    nav .logo {
        display: none;
    }

    #menu:checked ~ nav {
        display: flex;
    }

    #menu:checked ~ .menu {
        right: 0;
        background-color: #4a9a5a;
        border-bottom: 1px solid #daf8e0;
    }

    #menu:checked ~ .menu span {
        display: inline;
    }

    label.menu {
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
        padding: 10px;
        cursor: pointer;
    }

    .menu img {
        height: 2rem;
    }

    .menu span {
        display: none;
        padding-left: 10px;
        line-height: 2rem;
        font-weight: bold;
    }
}

nav a {
    color: #daf8e0;
    text-decoration: none;
    flex-grow: 1;
    flex-basis: 0;
    font-weight: bold;
}

nav a:hover {
    color: #ffffff;
}

#menu, .menu {
    display: none;
}

a {
    color: #4a9a5a;
}

a:hover {
    color: #61b773;
}

hr {
    outline: none;
    height: 1px;
    border: none;
    background-color: #4a9a5a;
}

ul {
    padding-left: 20px;
    list-style-image: url("logo-outline.svg");
}

li.arch {
    list-style-image: url("archlinux.svg");
}

li.debian {
    list-style-image: url("debian.svg");
}

li.macos {
    list-style-image: url("macos.svg");
}

li.win {
    list-style-image: url("windows.svg");
}

li.gitlab {
    list-style-image: url("gitlab.svg");
}

img.icon {
    height: 16px;
    vertical-align: middle;
}

.bg {
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    opacity: 0.1;
}

.content {
    padding: calc(2rem + 20px) 20px 0;
    position: relative;
}

.title {
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
    display: flex;
}

.title h1 {
    margin-bottom: 0;
    margin-top: 0;
}

.title .logo {
    height: 3rem;
    vertical-align: middle;
}

.title > div {
    padding-left: 10px;
}

.caption {
    font-style: italic;
    font-size: 12px;
    font-weight: normal;
}

.keyvisual {
    max-width: 100%;
    box-shadow: 0 0 4px 0 #000;
    margin-bottom: 10px;
}

.gallery {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.gallery a {
    padding: 1px;
    background-color: #000000;
    display: flex;
    margin: 5px;
    box-shadow: 0 0 4px 0 #000;
}
